services:
  jekyll:
    build: .
    image: jekyll_2510
    container_name: jekyll
    restart: unless-stopped
    ports:
      - "4000:4000"
      - "35729:35729"  # LiveReload
    working_dir: /srv/jekyll
    volumes:
      - .:/srv/jekyll
    command: >
      sh -c "
        echo '  bundle check...' &&
        bundle check || bundle install --jobs 4 --retry 3 --force &&
        echo '\n  starting jekyll...' &&
        bundle exec jekyll serve --host 0.0.0.0 --port 4000 --livereload
      "
